.job-card {
    display: flex;
    align-items: center; /* Asetetaan sisältö keskitetysti */
    background: #0F0F0F;
    color: var(--color-text-light);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    max-width: 700px;
    gap: 20px; /* Varmistaa tasaisen välin */
    min-height: 150px;
    min-width: 800px;
}

.job-logo {
    width: 80px; /* Kiinteä leveys */
    height: 80px; /* Kiinteä korkeus */
    object-fit: contain; /* Estää venymisen */
}

.job-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center; /* Asettaa tekstit keskelle */
    gap: 5px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.job-title {
    font-family: var(--font-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
    margin: 0;
}

.job-company {
    font-size: 14px;
    color: #bbb;
}

.job-location, .job-date {
    font-size: 14px;
    color: #bbb;
    display: flex;
    align-items: center;
    gap: 4px;
}

.job-description {
    font-size: 14px;
    color: white;
    margin-top: 8px;
}

.job-tags {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.job-tag {
    background-color: #ff5733;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
}
