/* JobDetails.css */

.jdp-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px;
  border: 1px solid #1d1d1d;
  min-height: 100%;
  width: 100%;
  margin-left: 300px;
  margin-top: -60px;
}

/* Poster image section */
.jdp-poster-image-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.jdp-poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Header */
.jdp-header {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1d1d1d;
}

.jdp-logo {
  width: 135px;
  height: 135px;
  border-radius: 8px;
  object-fit: cover;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: -60px;
  margin-left: 15px;
  z-index: 1;
}

.jdp-info {
  flex-grow: 1;
}

.jdp-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.jdp-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
  margin-top: 4px;
  color: #ccc;
}

.jdp-company-icon,
.jdp-location-icon,
.jdp-bookmark-icon {
  margin-left: 6px;
}

.jdp-header-apply-button {
  background-color: #F3794C;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

/* Description section */
.jdp-description-section {
  margin-top: 32px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.jdp-section-title {
  font-size: 18px;
  margin: 0 0 12px 0;
}

.jdp-description {
  line-height: 1.6;
  font-size: 15px;
  color: #e2e2e2;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

/* Tags */
.jdp-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
  justify-content: center;
}

.jdp-tag {
  background: linear-gradient(90deg, #4CC9F0 0%, #2C748A 100%);
  color: white;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14px;
}

/* Bottom Button */
.jdp-apply-button-bottom {
  background-color: #F3794C;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  width: 50%;
}

.jdp-location-dates {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #ccc;
}
