body {
    background-color: #0F0F0F;
}
  
.job-list-page {
    background: #0F0F0F;
   padding-top: 180px;
   padding: 140px;
    color: white;
    align-items: center;
}

.search-bar {
    background: #0F0F0F;
    display: flex;
    gap: 20px;
    align-items: center;
}

.job-list {
    background: #0F0F0F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline; /* Keskitä listan sisältö */
}
