.job-list-container {
    background: #0F0F0F;
    display: flex; /* Varmistaa, että .job-list ja .job-details ovat vierekkäin */
    flex-direction: row; /* Pitää ne vierekkäin, ei allekkain */
    margin: auto;
    gap: 600px;
    padding: 20px;
    min-height: 80vh;
    align-items: flex-start; /* Kohdistaa sisältöä ylöspäin */
}


.job-list {
    background: #0F0F0F;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.job-details {
    background: #0F0F0F;
    width: 50%; /* Vie oikean puolen koko tilan */
    background-color: var(--color-box-bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
     /* Tämä varmistaa, että täyttää koko tilan */
}