body {
    background-color: #0F0F0F;
}
.job-list-page {
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;
    min-height: 100vh;
    padding: 120px 32px 32px; /* Adjust as needed */
    box-sizing: border-box;
  }
