* {
  box-sizing: border-box;
}

.pi-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.pi-info {
  color: white;
  line-height: 1.6;
  border-left: 1px solid rgba(47, 47, 47, 0.25);
  border-right: 1px solid rgba(47, 47, 47, 0.25);
  border-top: 0.1px solid rgba(47, 47, 47, 0.25);
  border-bottom: 0.1px solid rgba(47, 47, 47, 0.25);
  padding: 32px 0;
}

.pi-content {
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

.pi-heading-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pi-info h3 {
  font-size: 20px;
  margin: 0;
}

.pi-role {
  font-size: 15px;
  color: #ccc;
  margin-top: 4px;
  margin-left: 40px;
}

.pi-accent {
  color: #f47b5b;
  margin-right: 4px;
}

.pi-text {
  margin-bottom: 16px;
  color: white;
  font-size: 15px;
  margin-top: 26px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
